.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #f9fafb; /* gris claro neutro */
  color: #111827; /* texto oscuro */
}

.main-content {
  flex: 1;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}
